* { font-family: Georgia, Helvetica, Arial; }
body, html {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: #555;
}
textarea {
    border: none;
    background: #EEE;
    height: 20% !important;
    width: 99% !important;
}
#main {
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
#left-col-1-3 {
    border-right: #DDD 2px solid;
    float: left;
    width: 33%;
    height: 99%;
    font-size: 1.1em;
}
#right-col-2-3 {
    float: left;
    width: 66%;
    height: 100%;
}
.canvas-box {
    float: left;
    width: 100%;
}
.chat-box {
    float: left;
    width: 100%;
    height: 100%;
}
.chat-box div {
    overflow: auto;
    width: 100%;
    height: 95% !important;
}
.terminal-box {
    float: left;
}